<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
  <nav class="fixed top-0 w-full bg-blue-600 text-white p-4">
    <div class="u-main-container flex justify-between items-center">
      <a href="/" class="text-xl font-bold">Foromio</a>
      <ul class="flex items-center gap-4">
        <li>
          <a href="/ajouter-une-discussion" class="underline">Créer une discussion</a>
        </li>
        <li>
          <a href="/connexion" class="underline">Connexion</a>
        </li>
        <li>
          <a href="/inscription" class="underline">Inscription</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-red-400 pt-20"><%= title %></h1>
  <% if(isLoggedIn) { %>
    <p>Bienvenue, <%= userName %></p>
  <% } %>
</body>
</html>